extends layout

block content    
    h2=title
    div
        p="Available users"
        each user in users
            div
                p=user.username
                p="Suspended: " + user.suspended
                form(action="/admin/suspend" method="post")
                    input(type="checkbox" name="suspend")
                    input(type="submit" name="Update suspension status")
                    input(type="hidden" value=user._id name="id")
            
